<html>
    <head>
        <title>Index Page</title>
        <link rel="stylesheet" href="../styles.css">
    </head>
    <body>
        <h1>Messages</h1>
        <a href="/new">New message</a>
        <div class="list">
            <% for (const message of messages) { %>
                <div class="message">
                    <h2><%= message.msg_user %></h2>
                    <p>Added <%= format(message.msg_date) %></p>
                    <a href=<%= `messages/${message.msg_id}` %>>Open</a>
                </div>
            <% } %>
        </div>
    </body>
</html>