<html>
    <head>
        <title>Message</title>
        <link rel="stylesheet" href="../styles.css">
    </head>
    <body>
        <a href="/">Index page</a>
        <h2>From <%= message.msg_user %></h2>
        <p><%= message.msg_text %></p>
        <p>Added <%= format(message.msg_date, true) %></p>
    </body>
</html>